/* body {
    min-height: 100vh;
    background-image: url("/assets/soda_small.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
} */
div.all-content {
    z-index: 0;
}
div.background_image {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/soda_small.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position-x: left;
    background-position-y: center;
    background-size: cover; /*fixed;*/

}
@media only screen and (min-width: 1100px) {
    body  {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
    }
    header {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
    header > div.img-profile > img {
        border-top-left-radius: var(--border-radius) !important;
    }
}

article, header {
    max-width: 105ch;
    background-color: hsla(0,100%,100%,0.9);
}

article {
    min-height: 60vh;
}
article :is(h2, h3, h4, h5) {
    margin-bottom: calc(var(--typography-spacing-vertical) / 2);
    margin-top: 0;
}

header a.hero-link {
    font-size: 3rem;
    white-space: nowrap;
}
@media only screen and (max-width: 475px){
    header a.hero-link {
        font-size: 2rem;
    }
}

/* header profile image */
header>div.img-profile {
    width: 20ch;
    height: 20ch;
    display: inline-block;
}
header>div.img-profile>img {
    position: absolute;
    border-radius: 1rem;
    width: 20ch;
}
header>div.img-profile>img:first-child {
    z-index: 1;
}
header>div.img-profile>img:nth-child(2) {
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}
header>div.img-profile:is(:hover,:focus)>img:nth-child(2) {
    opacity: 1;
    transition: opacity 0.5s;
}



@media only screen and (
    (orientation: portrait)
    or (max-height: 900px)
){
    header>div.img-profile {
        width: 3rem;
        height: 3rem;
    }
    header>div.img-profile>img {
        width: 3rem;
    }
}

/* Blog pagination links */
ul.pagination li {
    display: inline-block;
    border-radius: 0.25rem;
    background-color: hsla(0, 0%, 71%, 0.75);
    box-sizing: border-box;
}
ul.pagination li :is(a,span,text),
ul.pagination li.disabled {
    display: inline-block;
    text-align: center;
    min-width: 6ch;
}
ul.pagination li a {
    color: var(--primary);
}
ul.pagination li a:is(:hover,:focus) {
    text-decoration: none;
    color: var(--primary-inverse);
}
ul.pagination li.active span,
ul.pagination li.disabled {
    color: var(--primary-inverse);
}


section::before {
    content: '';
    height: 2px;
    background-color: var(--muted-color);
    width: calc(100% - 60px);
    display: block;
    left: 30px;
    position: relative;
    margin-bottom: calc(var(--block-spacing-vertical) / 3);
}

/* ul.pagination li:not(:first-child):not(:last-child) :is(a,span) {
    min-width: 6ch;
}
ul.pagination li:is(:first-child,:last-child) :is(a,span) {
    min-width: 3ch;
} */
footer {
    color: var(--primary-inverse);
    text-shadow: 0px 0px 3px var(--contrast-hover);
}


article tr:nth-child(odd) {
    background-color: hsla(0,100%,100%,0.55);
}
article tr:has(th:first-child) {
    background-color: var(--contrast) !important;
}
article tr th {
    color: var(--contrast-inverse);
}

.blog_date {
    font-weight: 600;
    position: relative;
    top: -1rem;
}

small {
    font-size: calc(var(--font-size) - 0.5rem);
}