/* Intended <div> layout:

+-----------------------+
| header                |
+-----------------------+
+------------+   +------+ 
| content    |   | nav  | 
|            |   |      | 
|            |   +------+ 
|            |   +------+
|            |   | posts|
|            |   |      |
+------------+   +------+
+-----------------------+
| footer                |
+-----------------------+

*/

body {
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:850px; /* body.width > {menu + contents}.width + 4*padding */
    background-color:#CCCCCC;
    color:#111111;
    font:15px arial,sans-serif;
    /*font-family:Arial,Helvetica,sans-serif;*/ 
    border:solid 0px pink;
    background-image: url("/assets/soda_small.jpg");
    background-repeat: no-repeat; background-position: top left; background-attachment: fixed; background-size: 100%;
}

#wrapper {
    width:850px;
}

#header {
    width:850px;
    display:inline-block;
    height:150px;
    /*padding:0px 10px 0px 0px; */
    background-color:#CCCCCC; /*rgba(80,80,80,0.3);*/
    /*background-color:#000000; */
    /* background-image: url(Dart_panoramic_small.jpg);
    background-position: top center;
    background-repeat: no-repeat; */
}

#bannerphoto {
    height:150px;
    float:left;
}

#bannertext {
    margin:55px 15px 15px 95px;
    float:left; 
    text-align:left;
    font-size: 100%;
    color:#000000; 
    border:solid 0px red;
}

#content {
    width:588px;
        /*width:75%;*/
    padding:0px 10px 10px 10px;
        display:inline-block;
    background-color:#EEEEEE;/*rgba(93,93,93,0.3);*/
    min-height: 600px;
}

img.full{
    width: 98%;
    padding:1px;
    border:1px solid #000000;
}
img.half{
    width: 49%;
    padding:1px;
    border:1px solid #000000;
}

#sidebar {
    width:237px;
    /*width:15%;*/
    float:right;
    padding:20px 0px 10px 0px;
    display:inline-block;
    background-color:#BBBBBB;/*rgba(73,73,73,0.3);*/
    /*color:#ee3300; */
    min-height:600px/*470px*/;
}

#nav {
    /*width:192px;*/
    /*width:15%;
    position: absolute;
    float:left;*/
    /*float:right;*/
    padding:0px 10px 0px 10px;
    /*display:inline-block;*/
    /*color:#ee3300; */
    /*min-height:100%*//*470px*/;
}

#links {
    padding:0px 10px 0px 10px;
}

#recent_posts {
    /*overflow-y: scroll;*/
    max-height:250px;
    padding:0px 10px 0px 10px;
}
#recent_posts ul{
    list-style: square outside;/*none;*/
    padding-left:20px;
}

#disabled {
    color: 888888;
}

#footer { 
    padding:1px;
    background-color:#CCCCCC;/*rgba(80,80,80,0.3);*/
    text-align: center;
    border: solid 0px red;     
    color:#000000; 
}


a {
    /*color:#0088aa;*/
    color:#222222;
    text-decoration:underline;
}

a:hover {
    color:#000088;
    text-decoration:none;
}

label { 
    display:inline-block;
    width:9em; 
}

fieldset {
    border: thin solid #006644;
}

.errors {
    color:#ff0000;
    font-weight:bolder;
}

#hfill {
    display: flex; 
    justify-content: space-between; 
    list-style-type: none; 
    padding-left:0; 
    margin: 2px;
}