:root {
  --color-primary: oklch(0.9 0.20 290 / 1);
  --color-accent: oklch(from var(--color-primary) calc(1.0 - l) 0.3 calc(240 + h) / 0.8);
  --color-contrast: var(--color-accent);
  --color-contrast-inverse: var(--color-primary);
  --color-background: oklch(from var(--color-primary) l c h / 0.8);
  --color-background-header: var(--color-background);
  --color-background-main: var(--color-background);
  --color-background-nav: var(--color-background);
  --color-background-footer: var(--color-background);
  --color-text: var(--color-accent);
  --color-text-link: oklch(from var(--color-text) l c calc(120 + h) / 1);
  --color-text-link-hover: oklch(from var(--color-text-link) calc(0.8 * l) c h / 1);

  --color-highlight: rgb(252, 252, 138);
  /* --background-color: rgba(255,255,255,0.85); */
  /* --color-text: rgb(61, 61, 61); */
  /* --color-text: oklch(var(--lightness) 0.9 120); */
  /* --color-text: oklch(0.9 0.20 290 / 1); */
  --principle-padding: 1em;
  /* --background-color: oklch(from white l c h / 0.95); */
  /* --background-color: oklch(from var(--color-text) calc(1.0 - l) 0.3 calc(240 + h) / 0.8); */
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 1000;
  font-family: "IBM Plex Mono", serif;
  font-weight: var(--font-weight);
  font-style: normal;
}

a, [role=link], a:visited {
  /* color: rgb(16, 149, 193); */
  color: var(--color-text-link);
  text-decoration: none;
}
a:is([aria-current], :hover, :active, :focus) {
  /* color: hsl(195deg, 90%, 32%); */
  color: var(--color-text-link-hover);
  text-decoration: dotted underline;
  background-color: var(--color-background-main);
}

header {
  --border-radius: 5px;
  border-radius: var(--border-radius);
  grid-area: head;
  background-color: var(--color-background-header);
  margin-bottom: 3em;
  & div.img-profile {
    display: inline-block;
    width: 20ch;
    height: 20ch;
  }
  & div.img-profile {
    width: 20ch;
    height: 20ch;
    display: inline-block;
  }
  & div.img-profile>img {
    position: absolute;
    border-radius: 1rem;
    border-top-left-radius: var(--border-radius);;
    width: 20ch;
    height: 20ch;
  }
  & div.img-profile>img:first-child {
    z-index: 1;
  }
  & div.img-profile>img:nth-child(2) {
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
  }
  & div.img-profile:is(:hover,:focus)>img:nth-child(2) {
    opacity: 1;
    transition: opacity 0.5s;
  }
  & a.hero-link {
    font-size: 3rem;
    white-space: nowrap;
  }
}

nav {
  position:sticky;
  top: 0;
  grid-area: nav;
  background-color: var(--color-background-nav);
  li.active-nav {
    font-weight: bold;
    font-style: italic;
  }
  ul {
    padding: 0;
  }
  li {
    padding: 0.4em var(--principle-padding);
    list-style: none;
  }
}
main {
  box-sizing: border-box;
  padding: var(--principle-padding);
  grid-area: content;
  /* background-color: darksalmon; */
  background-color: var(--color-background-main);
  img {
    width: 100%;
    object-fit: contain;
  }
  ul.pagination li {
    display: inline-block;
    a, span {
      display: inline-block;
      width: 5ch;
      text-align: center;
      background-color: var(--background-color);
      border-radius: 5px;
      padding: 0.5ch 3ch;
    }
  }
  input {
    border-radius: 5px;
    line-height: 2em;
    font-size: medium;
  }
  :has(> input.lightness) {
    content: "";
    background: linear-gradient(
      to right,
      oklch(0 0 0) 0%,
      oklch(1 0 0) 100%
    );
  }
  :has(> input.chroma) {
    content: "";
    background: linear-gradient(
      to right,
      oklch(from var(--color-text) 1 0 h) 0%,
      oklch(from var(--color-text) 1 1 h) 100%
    );
  }
  :has(> input.hue) {
    content: "";
    background: linear-gradient(
      to right,
      oklch(1 1 0) 0%,
      oklch(1 1 60) 17%,
      oklch(1 1 120) 33%,
      oklch(1 1 180) 50%,
      oklch(1 1 240) 66%,
      oklch(1 1 300) 83%,
      oklch(1 1 360) 100%
    );
  }
  select {
    font-size: medium;
  }
  button {
    padding: 0.5em 1em;
  }
  & div.side-by-side {
    display: flex;
    align-items: start;
    &>* {
      flex:1;
      &:is([aria-current], :hover, :active, :focus) {
        flex: 5;
      }
    }
  }
    div.highlighter-rouge div.highlight code {
        /* token */
        /* comment */
        /* keyword */
        /* name */
        /* name.class */
        /* name.function */
        /* string */
        .c, .ch, .cd, .cpf {
            color: #75715e;
            font-style: italic;
          }
          .cm {
            color: #75715e;
            font-style: italic;
          }
          .c1 {
            color: #75715e;
            font-style: italic;
          }
          .cp {
            color: #75715e;
            font-weight: bold;
          }
          .cs {
            color: #75715e;
            font-weight: bold;
            font-style: italic;
          }
          .err {
            color: #960050;
            background-color: #1e0010;
          }
          .gi {
            color: #ffffff;
            background-color: #324932;
          }
          .gd {
            color: #ffffff;
            background-color: #493131;
          }
          .ge {
            color: #000000;
            font-style: italic;
          }
          .gr {
            color: #aa0000;
          }
          .gt {
            color: #aa0000;
          }
          .gh {
            color: #999999;
          }
          .go {
            color: #888888;
          }
          .gp {
            color: #555555;
          }
          .gs {
            font-weight: bold;
          }
          .gu {
            color: #aaaaaa;
          }
          .k, .kv {
            color: #66d9ef;
            font-weight: bold;
          }
          .kc {
            color: #66d9ef;
            font-weight: bold;
          }
          .kd {
            color: #66d9ef;
            font-weight: bold;
          }
          .kp {
            color: #66d9ef;
            font-weight: bold;
          }
          .kr {
            color: #66d9ef;
            font-weight: bold;
          }
          .kt {
            color: #66d9ef;
            font-weight: bold;
          }
          .kn {
            color: #f92672;
            font-weight: bold;
          }
          .ow {
            color: #f92672;
            font-weight: bold;
          }
          .o {
            color: #f92672;
            font-weight: bold;
          }
          .mf {
            color: #ae81ff;
          }
          .mh {
            color: #ae81ff;
          }
          .il {
            color: #ae81ff;
          }
          .mi {
            color: #ae81ff;
          }
          .mo {
            color: #ae81ff;
          }
          .m, .mb, .mx {
            color: #ae81ff;
          }
          .se {
            color: #ae81ff;
          }
          .sa {
            color: #66d9ef;
            font-weight: bold;
          }
          .sb {
            color: #e6db74;
          }
          .sc {
            color: #e6db74;
          }
          .sd {
            color: #e6db74;
          }
          .s2 {
            color: #e6db74;
          }
          .sh {
            color: #e6db74;
          }
          .si {
            color: #e6db74;
          }
          .sx {
            color: #e6db74;
          }
          .sr {
            color: #e6db74;
          }
          .s1 {
            color: #e6db74;
          }
          .ss {
            color: #e6db74;
          }
          .s, .dl {
            color: #e6db74;
          }
          .na {
            color: #a6e22e;
          }
          .nc {
            color: #a6e22e;
            font-weight: bold;
          }
          .nd {
            color: #a6e22e;
            font-weight: bold;
          }
          .ne {
            color: #a6e22e;
            font-weight: bold;
          }
          .nf, .fm {
            color: #a6e22e;
            font-weight: bold;
          }
          .no {
            color: #66d9ef;
          }
          .bp {
            color: #f8f8f2;
          }
          .nb {
            color: #f8f8f2;
          }
          .ni {
            color: #f8f8f2;
          }
          .nn {
            color: #f8f8f2;
          }
          .vc {
            color: #f8f8f2;
          }
          .vg {
            color: #f8f8f2;
          }
          .vi {
            color: #f8f8f2;
          }
          .nv, .vm {
            color: #f8f8f2;
          }
          .w {
            color: #f8f8f2;
          }
          .nl {
            color: #f8f8f2;
            font-weight: bold;
          }
          .nt {
            color: #f92672;
          }
    }
}
article {
  background-color: var(--background-color-article);
}
footer {
  padding: 0.5em var(--principle-padding);
  grid-area: foot;
  /* background-color: bisque; */
  background-color: var(--color-background-footer);
}

main table {
  border-collapse: collapse;
}
main table tr > :is(th,td) {
  padding: 0.25em var(--principle-padding);
  vertical-align: top;
}
main table:not(.no-alternating-highlight) tr:has(td):nth-child(even) {
  background-color: hsla(0,100%,100%,0.55);
}
main table:not(.no-alternating-highlight) tr:has(th) {
  background-color: var(--color-contrast) !important;
  & > th {
    color: var(--color-contrast-inverse);
  }
}
/* main table:not(.no-alternating-highlight) tr:has(th) > th {
    color: var(--color-contrast-inverse);
} */


html {
  min-height: 100%;
}
body::before {
  content: "";
  z-index: -1;
  background-color: var(--background-color);
  background-image: url("/assets/soda.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(20%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body::after {
  content: "";
  background-color: var(--color-background-main);
  grid-area: spacer;
}
body {
  color: var(--color-text);
  display: grid;
  grid-template-columns: 200px fit-content(1000px);
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas:
  "head head ."
  "nav content ."
  ". content ."
  ". spacer ."
  ". foot .";
  min-width: fit-content;
  min-height: 100%;
  position: absolute;
  margin: 0;
  width: 100%;
}
@media (max-width: 1200px){
  body{
    grid-template-columns: 200px auto;
    header {
      margin-bottom: 0;
      a.hero-link {
        font-size: 2rem;
        white-space: nowrap;
      }
      div.img-profile {
        width: 3rem;
        height: 3rem;
      }
      div.img-profile>img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
@media (max-width: 850px){
  body {
    grid-template-columns: auto auto;
    grid-template-areas:
    "head head"
    "nav nav"
    "content content"
    "spacer spacer"
    "foot foot";
    header {
      margin-bottom: 0;
      a.hero-link {
        font-size: 2rem;
        white-space: nowrap;
      }
    }
    main {
      ul.pagination {
        padding-left: 0;
        a, span {
          padding: 0.5ch !important;
        }
      }
    }
    nav ul li {
      display: inline-block;
    }
  }
}

.rating-buttons button {
  font-family: "Noto Color Emoji";
}
.book-review {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1em 1rem;
    display: grid;
    grid-template-areas:
        "rating title . finished"
        "author author . series"
        "narrator narrator . series"
        "summary summary summary summary";
    grid-template-columns: 30px fit-content(550px) auto auto;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    &::before {
      font-family: "Overpass Mono";
      content: "⮟";
      position: absolute;
      transform: translate(-10px,0);
    }
    &:is([aria-current], :focus, :active)::before {
      content: "⮝";
    }
    &:hover {
        grid-template-rows: auto auto auto auto;
    }
    section {
        display: inline-block;
    }
    &:is([aria-current], :focus, :active) {
      background-color: var(--color-highlight);
      grid-template-rows: auto auto auto auto;
    }
    &:not([aria-current], :focus, :active) {
      grid-template-rows: auto 0 0 0;
      section:is(
        [data-author],
        [data-series],
        [data-summary],
        [data-narrator],
        [data-vibe]
      ) {
          display: none;
      }
    }
    section[data-rating] {
        grid-area: rating;
        text-align: center;
        font-family: "Noto Color Emoji";
    }
    section[data-title] {
        grid-area: title;
        font-weight: var(--font-weight-bolder);
    }
    section[data-finished] {
        grid-area: finished;
        font-weight: var(--font-weight-bolder);
        text-align: end;
    }
    section[data-author] {
        grid-area: author;
        font-weight: 600;
        margin-top: 1em;
        &::before {
            content: "Author: ";
            font-style: italic;
        }
    }
    section[data-series] {
        grid-area: series;
        text-align: end;
        margin-top: 1em;
    }
    section[data-narrator] {
        grid-area: narrator;
        font-weight: 600;
        &::before {
            content: "Narrated by: ";
            font-style: italic;
        }
    }
    section[data-vibe] {
        display: none;
        grid-area: vibe;
    }
    section[data-summary] {
        grid-area: summary;
        max-width: 650px;
        margin-top: 1em;
    }
}


/* https://www.makethingsaccessible.com/guides/creating-a-skip-to-content-link/ */
/* Set some base styles, so it is easy to see */
.accessibility-skip-link {
  position: absolute;
  display: inline-block;
  padding: .375rem .75rem;
  right: 0;
  line-height: 1;
  font-size: 1.25rem;
  background-color: rebeccapurple;
  color: white;
  /* Ensure the Y position is set to zero and any movement on the transform property */
  transform: translateY(0);
  transition: transform 250ms ease-in;

  /* When it is not focused, transform its Y position by its total height, using a negative value, so it hides above the viewport */
  &:not(:focus) {
    transform: translateY(-2rem);
  }
}
