/* Intended <div> layout:

+-----------------------+
| header                |
+-----------------------+
+------------+   +------+ 
| content    |   | nav  | 
|            |   |      | 
|            |   +------+ 
|            |   +------+
|            |   | posts|
|            |   |      |
+------------+   +------+
+-----------------------+
| footer                |
+-----------------------+

*/

a {
    color: #888888;
    max-width: 100%;
    overflow-x: hidden;
}

.all {
    border-style: solid;
    border-width: 0px;
}

.centred_wrapper {
    /*margin-left: auto;*/
    /*padding: 0px 0px 0px 200px;*/
    margin-left: 150px;
    margin-right: auto;
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    
    float: left;
    clear: none;
    
    padding: 0;
    border: 0;
}

.header_wrapper {
    background-color: #D8D8D8;
    height: 75px;
}

.content_wrapper {
    background-color: #A4A4A4; 
}

.footer_wrapper {
    background-color: #6E6E6E;
}

.sidebar_wrapper {
    background-color: #424242;
    height: 100%;
    
    margin: 0;
    padding: 0;
    border: 0;
    
    position: fixed;
    width:150px;
    top: 0;
    left: 0;
}

.sidebar_wrapper  ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    max-width: 100%;
    overflow-x: hidden;

    background: url("/assets/soda_small.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}