nav {
    max-width: 105ch;
    background-color: hsla(0,100%,100%,0.9);
}
nav {
    padding: 0 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    flex-direction: row;
}
nav ul {
    flex-shrink: 0;
}

@media only screen and (
    (orientation: portrait)
    or (max-height: 900px)
){
    nav li {
        padding-top: calc(var(--nav-element-spacing-vertical) / 2);
        padding-bottom: calc(var(--nav-element-spacing-vertical) / 2);
    }
}
@media only screen and (max-width: 500px){
    nav {
        flex-direction: column !important;
    }
}

li.active_nav a {
    font-style: italic;
}