<nav>
  <ul>
    <li {% if page.section == "Home" %}class="active_nav"{% endif %}>
      <a href="/">Home</a>
    </li>

    <li {% if page.section == "Bio" %}class="active_nav"{% endif %}>
      <a href="{{site.baseurl}}/bio/">Bio</a>
    </li>

    <li {% if page.section == "Blog" %}class="active_nav"{% endif %}>
      <a href="{{site.baseurl}}/blog/">Blog</a>
    </li>

    <li {% if page.section == "Applications" %}class="active_nav"{% endif %}>
        <a href="/apps/">Applications</a>
    </li>

    <li>
      <a href="/assets/Theodore_Lindsey_Resume.pdf" target="_blank">Resume</a>
    </li>
  </ul>
</nav> <!--right container-->