<nav>
  <ul class="page_links">
    <li {% if page.section == "Home" %}class="active_nav"{% endif %}>
      <a href="/">Home</a>
    </li>

    <li {% if page.section == "Bio" %}class="active_nav"{% endif %}>
      <a href="{{site.baseurl}}/bio/">Bio</a>
    </li>

    <li {% if page.section == "Blog" %}class="active_nav"{% endif %}>
      <a href="{{site.baseurl}}/blog/">Blog</a>
    </li>

    <li {% if page.section == "Applications" %}class="active_nav"{% endif %}>
        <a href="/apps/">Applets</a>
    </li>

    <li>
      <a href="/assets/Theodore_Lindsey_Resume.pdf" target="_blank">Resume</a>
    </li>
  </ul>

  <ul class="profile_links">
    <li><a href="https://www.linkedin.com/in/theodorelindsey/" target="_blank"><img src="/assets/icons/linkedin-24.png" /></a></li>
    <li><a href="https://github.com/RagingRoosevelt/" target="_blank"><img src="/assets/icons/github-24.png" /></a></li>
    <li><a href="https://twitter.com/RagingRoosevelt/" target="_blank"><img src="/assets/icons/twitter-24.png" /></a></li>
    <li><a href="https://steamcommunity.com/id/RagingRoosevelt/" target="_blank"><img src="/assets/icons/steam-24.png" /></a></li>
  </ul>
</nav> <!--right container-->