{% for review in reviews %}
{% if review.authors.first == review.authors.last%}
  {% assign author_count = 1 %}
{%else%}
  {% assign author_count = review.authors.size %}
{%endif%}

{% if review.editors.first == review.editors.last%}
  {% assign editor_count = 1 %}
{%else%}
  {% assign editor_count = review.editors.size %}
{%endif%}

{% if review.narrators.first == review.narrators.last%}
  {% assign narrator_count = 1 %}
{%else%}
  {% assign narrator_count = review.narrators.size %}
{%endif%}

{% if review.editors and review.anthology %}
  {% if editor_count > 1 %}
    {% assign primary_author = review.editors.first %}
  {% else %}
    {% assign primary_author = review.editors %}
  {% endif %}
{% else %}
  {% if author_count > 1 %}
    {% assign primary_author = review.authors.first %}
  {% else %}
    {% assign primary_author = review.authors %}
  {% endif %}
{% endif %}

<details class="book-review" id='{{review.title|slugify: "ascii"}}'>
  <summary>
  <section data-rating>{{review.rating}}</section>
  <section data-title>{{review.title}} ({{ primary_author|split:" "|last}}) </section>
  <section data-finished>{{review.finished| date: "%b %-d"}}</section>
  </summary>
  <div class="details-info">
  {% if review.authors %}
  <section data-author data-count="{{author_count}}">
    {% if author_count > 1 %}
      <ul>{% for author in review.authors %}<li>{{author}}</li>{%endfor%}</ul>
    {%else%}
      {{review.authors|join:", "}}
    {%endif%}
  </section>
  {% endif %}

  {% if review.editors %}
  <section data-editor data-count="{{editor_count}}">
    {% if editor_count > 1 %}
      <ul>{% for editor in review.editors %}<li>{{editor}}</li>{%endfor%}</ul>
    {%else%}
      {{review.editors|join:", "}}
    {%endif%}
  </section>
  {% endif %}

  {% if review.narrators %}
  <section data-narrator data-count="{{narrator_count}}">
    {% if narrator_count > 1 %}
      <ul>{% for narrator in review.narrators %}<li>{{narrator}}</li>{%endfor%}</ul>
    {%else%}
      {{review.narrators|join:", "}}
    {%endif%}
  </section>
  {% endif %}

  {%if review.series%}
  <section data-series>{{review.series}}{% if review.series_number %}, Book {{review.series_number}}{% endif %}</section>
  {%endif%}

  {% if review.vibe %}<section data-vibe>{{review.vibe}}</section>{%endif%}

  {% if review.summary %}<section data-summary>{{review.summary}}</section>{% endif %}

  {% if review.review %}<section data-review><p>{{review.review|join:"</p><p>"}}</p></section>{% endif %}

  {% if review.links %}
  <section data-links>
    {% if review.links.powells %}<a href="{{review.links.powells}}" target="_blank"><img alt="{{review.title}} on Powell's City of Books" src="/assets/icons/powells-28.png" /></a>{%endif%}
    {% if review.links.openlibrary %}<a href="{{review.links.openlibrary}}" target="_blank"><img alt="{{review.title}} on Open Library" src="/assets/icons/openlibrary-28.png" /></a>{%endif%}
    {% if review.links.audible %}<a href="{{review.links.audible}}" target="_blank"><img alt="{{review.title}} on Audible" src="/assets/icons/audible-28.png" /></a>{%endif%}
    {% if review.links.goodreads %}<a href="{{review.links.goodreads}}" target="_blank"><img alt="{{review.title}} on GoodReads" src="/assets/icons/goodreads-28.png" /></a>{%endif%}
  </section>
  {% endif %}
  </div>
</details>
{% endfor %}
