<div class="sidebar_wrapper">

    <img width=100% src="http://theodorelindsey.io/assets/theodore.jpg" />

<div class="sidebar">

    <b>Theodore S. Lindsey</b>

    <hr>

    <div class="nav">
        <ul>
        <li {% if page.section == "Home" %}id="active_nav"{% endif %}>
            <a href="/">Home</a></li>
            
        <li {% if page.section == "Academics" %}id="active_nav"{% endif %}>
            <a href="/academics.html">Academics</a></li>
            
        <li {% if page.section == "Teaching" %}id="active_nav"{% endif %}>
            <a href="/teaching/">Teaching</a></li>
            
        <li {% if page.section == "Blog" %}id="active_nav"{% endif %}>
            <a href="/blog/">Blog</a> <!--<a href="/blog/feed.xml"><img style="width: 16px" src="/assets/icons/rss-32.png" alt="rss feed" /></a>--></li>
            
        <li {% if page.section == "Utilities" %}id="active_nav"{% endif %}>
            <a href="/utilities/">Utilities</a>
            
        <li  {% if page.section == "Contact" %}id="active_nav"{% endif %}>
            <a href="/contact.html">Contact</a></li>
            
        <li>
            <a href="/assets/Theodore_Lindsey_Resume.pdf">Resume</a></li>
            
        <li>
            <a href="/assets/Theodore_Lindsey_CV.pdf">CV</a></li>
        </ul>
    </div>
    
    <hr>

    <div class="external-links">
        <ul style="list-style-type: none;">
        <li><a href="https://github.com/RagingRoosevelt" target="_blank"><img src="/assets/icons/github-24.png" width="24px" /></a></li>
        <li><a href="http://www.linkedin.com/in/theodorelindsey" target="_blank"><img src="/assets/icons/linkedin-24.png" width="24px" /></a></li>
        <!--<li><a href="https://plus.google.com/+TheodoreSatchLindsey" target="_blank"><img src="/assets/icons/gplus-24.png" width="24px" /></a></li>-->
        <li><a href="https://twitter.com/RagingRoosevelt" target="_blank"><img src="/assets/icons/twitter-24.png" width="24px" /></a></li>
        <li><a href="https://facebook.com/theodore.lindsey" target="_blank"><img src="/assets/icons/facebook-24.png" width="24px" /></a></li>
        <li><a href="https://steamcommunity.com/id/RagingRoosevelt" target="_blank"><img src="/assets/icons/steam-24.png" width="24px" /></a></li>
        </ul>
    </div>

    <div class="clear"></div>
        
    <hr>

    <b>Recent Posts</b>

    <div class="recent_posts">
        <ul>
        {% for post in site.posts limit: 5 %}
            <li {% if post.title == page.title %}id="active_nav"{% endif %}>
            <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>
